In [2]:
#Dependencies and Setup
import pandas as pd

In [9]:
#Importing the dataset
schools_df = pd.read_csv('Resources/schools_complete.csv')
students_df = pd.read_csv('Resources/students_complete.csv')

#Combining the datasets
schools_complete_data = pd.merge(schools_df, students_df, how='left', on='school_name')
schools_complete_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [10]:
#District Summary

#Total schools
Total_schools = schools_complete_data['school_name'].nunique()
print(Total_schools)

15

In [12]:
#Total students
Total_students = schools_complete_data['student_name'].count()
print(Total_students)

39170

In [14]:
#Total budget
Total_budget = schools_complete_data['budget'].unique().sum()
print(Total_budget)

24649428

In [15]:
#Average math score
Average_math_score = schools_complete_data['math_score'].mean()
print(Average_math_score)

78.98537145774827

In [16]:
#Average reading score
Average_reading_score = schools_complete_data['reading_score'].mean()
print(Average_reading_score)

81.87784018381414

In [19]:

#% passing math(the percentage of students that passed math)
Students_passing_math = schools_complete_data[schools_complete_data['math_score'] >= 70].count()
Percentage_passing_math = (schools_complete_data['math_score']>=70).sum()/Total_students*100
print(Percentage_passing_math)

74.9808526933878

In [20]:
#% passing reading(the percentage of students that passed reading)
Students_passing_reading = schools_complete_data[schools_complete_data['reading_score'] >= 70].count()
Percentage_passing_reading = (schools_complete_data['reading_score']>=70).sum()/Total_students*100
print(Percentage_passing_reading)

85.80546336482001

In [21]:
#% overall passing(the percentage of students that passed both math and reading)
Students_passing_both = schools_complete_data[schools_complete_data['math_score'] >= 70].count()+schools_complete_data[schools_complete_data['reading_score'] >= 70].count()
Percentage_passing_math = (schools_complete_data['math_score']>=70).sum()/Total_students*100
print(Percentage_passing_math)

74.9808526933878

In [ ]:
#