In [99]:
#Dependencies and Setup
import pandas as pd

In [100]:
#Importing the dataset
schools_df = pd.read_csv('Resources/schools_complete.csv')
students_df = pd.read_csv('Resources/students_complete.csv')

#Combining the datasets
schools_complete_data = pd.merge(schools_df, students_df, how='left', on='school_name')

In [101]:
#District Summary

#Total schools
Total_schools = schools_complete_data['school_name'].nunique()
print(Total_schools)

15

In [102]:
#Total students
Total_students = schools_complete_data['student_name'].count()
Total_students_format = "{:,}".format(Total_students)
print(f"Total_students : {Total_students_format}")
print()

Total_students : 39,170

In [144]:
#Total budget
Total_budget = schools_complete_data['budget'].unique().sum()
Total_budget_format = "${:,.2f}".format(Total_budget)
print(f"Total budget is {Total_budget_format}")

Total budget is $24,649,428.00

numpy.int64

In [104]:
#Average math score
Average_math_score = schools_complete_data['math_score'].mean()
print(Average_math_score)

78.98537145774827

In [105]:
#Average reading score
Average_reading_score = schools_complete_data['reading_score'].mean()
print(Average_reading_score)

81.87784018381414

In [106]:

#% passing math(the percentage of students that passed math)
Percentage_passing_math = (schools_complete_data['math_score']>=70).sum()/Total_students*100
print(Percentage_passing_math)

74.9808526933878

In [107]:
#% passing reading(the percentage of students that passed reading)
Percentage_passing_reading = (schools_complete_data['reading_score']>=70).sum()/Total_students*100
print(Percentage_passing_reading)

85.80546336482001

In [108]:
#% overall passing(the percentage of students that passed both math and reading)
Percentage_passing_both = ((((schools_complete_data["math_score"] >= 70) & (schools_complete_data["reading_score"] >= 70)).sum())/Total_students)*100
print(Percentage_passing_both)

65.17232575950983

In [109]:
#Dataframe to store the results
district_summary_df = pd.DataFrame({'Total Schools':[Total_schools], 'Total Students':[Total_students_format], 'Total Budget':[Total_budget_format], 'Average Math Score':[Average_math_score], 'Average Reading Score':[Average_reading_score], '% Passing Math':[Percentage_passing_math], '% Passing Reading':[Percentage_passing_reading], '% Overall Passing':[Percentage_passing_both]})
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [110]:
#School summary

In [111]:

#School name 
schools_df['school_name']

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [112]:
#School type
school_type = schools_df.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [113]:
#Total students
total_students = schools_df.set_index(['school_name'])['size']
total_students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [146]:
#Total school budget
total_budget = schools_df.set_index(['school_name'])['budget']
total_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [115]:
#Per student budget
per_student_budget = total_budget/total_students
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [116]:
#Average math score
avg_math_score = students_df.groupby('school_name')['math_score'].mean()
print(avg_math_score)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [117]:
#Average reading score
avg_reading_score = students_df.groupby('school_name')['reading_score'].mean()
print(avg_reading_score)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [118]:
#% passing math (the percentage of students who passed math)
per_school_math_passed = schools_complete_data[(schools_complete_data["math_score"] >= 70)]
per_school_math_passed = per_school_math_passed.groupby(["school_name"]).count()["student_name"]
per_school_math_passed = (per_school_math_passed.divide(total_students))*100
print(per_school_math_passed)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [137]:
#% passing reading (the percentage of students who passed reading)
per_school_reading_passed = schools_complete_data[(schools_complete_data["reading_score"] >= 70)]
per_school_reading_passed = per_school_reading_passed.groupby(["school_name"]).count()["student_name"]
per_school_reading_passed = (per_school_reading_passed.divide(total_students))*100
per_school_reading_passed

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [120]:
#% overall passing (the percentage of students who passed math AND reading)
per_school_passed = schools_complete_data[(schools_complete_data["math_score"] >= 70) & (schools_complete_data["reading_score"] >= 70)]
per_school_passed = per_school_passed.groupby(["school_name"]).count()["student_name"]
per_school_passed = (per_school_passed.divide(total_students))*100
print(per_school_passed)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [148]:
#Dataframe to store the results
school_summary_df = pd.DataFrame({'School Type':school_type, 'Total Students':total_students, 'Total School Budget':total_budget, 'Per Student Budget':per_student_budget, 'Average Math Score':avg_math_score, 'Average Reading Score':avg_reading_score, '% Passing Math':per_school_math_passed, '% Passing Reading':per_school_reading_passed, '% Overall Passing':per_school_passed})
school_summary_df["Total School Budget"] =school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [149]:
#Highest performing schools(by % overall passing)
school_summary_df.sort_values(by=['% Overall Passing'], ascending=False, inplace=True)
school_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [150]:
#lowest performing schools(by % overall passing)
school_summary_df.sort_values(by=['% Overall Passing'], ascending=True, inplace=True)
school_summary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172